<h1 align="center"><%= "Category: " + @category.name %></h1>
<% if logged_in? && current_user.admin? %>
  <div align="center">
      <div class="row">
        <p><span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span></p>
      </div>
  </div>
<% end %>
<div align="center"><%= will_paginate @category_articles %></div>
<%= render 'articles/articles', obj: @category_articles %>
<div align="center"><%= will_paginate @category_articles %></div>